.container {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightyellow;
}

.container>div {
    text-align: center;
    border: 1px solid #a1a1a1;
    padding: 10px 40px;
    background: cornflowerblue;
    border-radius: 30px;
}

h4>span {
    cursor: pointer;
}

video {
    width: 100% !important;
    height: auto !important;
}

.link {
    text-align: center;
    color: white;
    border: 1px solid #a1a1a1;
    width: 200px;
    float: none;
    margin-left: 8%;
    background: cornflowerblue;
    border-radius: 10px;
}