<div class="col-sm-3 col-md-2 sidebar">
    <div class="top-navigation">
        <div class="t-menu">MENU</div>
        <div class="t-img">
            <img src="assets/images/lines.png" alt="">
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="index.html" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li><a href="shows.html" class="user-icon"><span class="glyphicon glyphicon-home glyphicon-blackboard" aria-hidden="true"></span>TV Shows</a></li>
            <li><a href="history.html" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-hourglass" aria-hidden="true"></span>History</a></li>
            <li><a href="#" class="menu1"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>Movies<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
            <li><a href="movies.html" class="song-icon"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Songs</a></li>
            <li><a href="news.html" class="news-icon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>News</a></li>
        </ul>
        <div class="side-bottom">
            <div class="side-bottom-icons">
                <ul class="nav2">
                    <li><a href="#" class="facebook"> </a></li>
                    <li><a href="#" class="facebook twitter"> </a></li>
                    <li><a href="#" class="facebook chrome"> </a></li>
                    <li><a href="#" class="facebook dribbble"> </a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright © 2015 My Play. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="show-top-grids">
        <div class="col-sm-8 single-left" *ngFor="let vid of video">
             <div class="song">
                <div class="song-info">
                    <h3>{{vid.name}}</h3>	
                </div>
                <div class="video-grid">
                    <video controls (play)="clicked($event)">
                           <source src="http://localhost:3000/{{vid.url}}" type="video/mp4">
                    </video>
                </div>
            </div>
            <!--<div class="link">
    <h4><span (click)="goBack()">Go back to Video Listing</span></h4>
</div>
<div class="container">
    <div class="col-md-12 block" *ngFor="let vid of video">
        <h4><span>{{vid.name}}</span></h4>
        
        <star-rating-comp [starType]="'svg'" [rating]="vid.overAllRating" (onClick)="rateVideo($event, vid.name)">
        </star-rating-comp>
        <h5></h5>
    </div>
</div>-->
            <div class="song-grid-right">
                <div class="share">
                    <h5>Share this</h5>
                    <ul>
                        <li><a href="#" class="icon fb-icon">Facebook</a></li>
                        <li><a href="#" class="icon dribbble-icon">Dribbble</a></li>
                        <li><a href="#" class="icon twitter-icon">Twitter</a></li>
                        <li><a href="#" class="icon pinterest-icon">Pinterest</a></li>
                        <li><a href="#" class="icon whatsapp-icon">Whatsapp</a></li>
                        <li><a href="#" class="icon like">Like</a></li>
                        <li><a href="#" class="icon comment-icon">Comments</a></li>
                        <li class="view">200 Views</li>
                        <li style="float: left">
                        <star-rating-comp [starType]="'svg'" [rating]="vid.overAllRating" (onClick)="rateVideo($event, vid.name)">
                    </star-rating-comp>
                    </li>

                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="published">
            <div class="load_more">	
                <ul id="myList">
                    <li style="display: list-item;">
                        <h4>Published on 15 June 2015</h4>
                        <p>{{vid.description}}</p>
                    </li>
                    <li>
                        <p>Nullam fringilla sagittis tortor ut rhoncus. Nam vel ultricies erat, vel sodales leo. Maecenas pellentesque, est suscipit laoreet tincidunt, ipsum tortor vestibulum leo, ac dignissim diam velit id tellus. Morbi luctus velit quis semper egestas. Nam condimentum sem eget ex iaculis bibendum. Nam tortor felis, commodo faucibus sollicitudin ac, luctus a turpis. Donec congue pretium nisl, sed fringilla tellus tempus in.</p>
                        <p>Nullam fringilla sagittis tortor ut rhoncus. Nam vel ultricies erat, vel sodales leo. Maecenas pellentesque, est suscipit laoreet tincidunt, ipsum tortor vestibulum leo, ac dignissim diam velit id tellus. Morbi luctus velit quis semper egestas. Nam condimentum sem eget ex iaculis bibendum. Nam tortor felis, commodo faucibus sollicitudin ac, luctus a turpis. Donec congue pretium nisl, sed fringilla tellus tempus in.</p>
                        <div class="load-grids">
                            <div class="load-grid">
                                <p>Category</p>
                            </div>
                            <div class="load-grid">
                                <a href="movies.html">Entertainment</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="all-comments">
            <div class="all-comments-info">
                <a href="#">All Comments (8,657)</a>
                <div class="box">
                    <form>
                        <input type="text" placeholder="Name" required=" ">			           					   
                        <input type="text" placeholder="Email" required=" ">
                        <input type="text" placeholder="Phone" required=" ">
                        <textarea placeholder="Message" required=" "></textarea>
                        <input type="submit" value="SEND">
                        <div class="clearfix"> </div>
                    </form>
                </div>
                <div class="all-comments-buttons">
                    <ul>
                        <li><a href="#" class="top">Top Comments</a></li>
                        <li><a href="#" class="top newest">Newest First</a></li>
                        <li><a href="#" class="top my-comment">My Comments</a></li>
                    </ul>
                </div>
            </div>
            <div class="media-grids">
                <div class="media">
                    <h5>Tom Brown</h5>
                    <div class="media-left">
                        <a href="#">

                        </a>
                    </div>
                    <div class="media-body">
                        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                        <span>View all posts by :<a href="#"> Admin </a></span>
                    </div>
                </div>
                <div class="media">
                    <h5>Mark Johnson</h5>
                    <div class="media-left">
                        <a href="#">

                        </a>
                    </div>
                    <div class="media-body">
                        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                        <span>View all posts by :<a href="#"> Admin </a></span>
                    </div>
                </div>
                <div class="media">
                    <h5>Steven Smith</h5>
                    <div class="media-left">
                        <a href="#">

                        </a>
                    </div>
                    <div class="media-body">
                        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                        <span>View all posts by :<a href="#"> Admin </a></span>
                    </div>
                </div>
                <div class="media">
                    <h5>Marry Johne</h5>
                    <div class="media-left">
                        <a href="#">

                        </a>
                    </div>
                    <div class="media-body">
                        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                        <span>View all posts by :<a href="#"> Admin </a></span>
                    </div>
                </div>
                <div class="media">
                    <h5>Mark Johnson</h5>
                    <div class="media-left">
                        <a href="#">

                        </a>
                    </div>
                    <div class="media-body">
                        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                        <span>View all posts by :<a href="#"> Admin </a></span>
                    </div>
                </div>
                <div class="media">
                    <h5>Mark Johnson</h5>
                    <div class="media-left">
                        <a href="#">

                        </a>
                    </div>
                    <div class="media-body">
                        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                        <span>View all posts by :<a href="#"> Admin </a></span>
                    </div>
                </div>
                <div class="media">
                    <h5>Peter Johnson</h5>
                    <div class="media-left">
                        <a href="#">

                        </a>
                    </div>
                    <div class="media-body">
                        <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                        <span>View all posts by :<a href="#"> Admin </a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 single-right">
        <h3>Up Next</h3>
        <div class="single-grid-right">
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r1.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r2.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r3.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r4.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r5.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r6.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author">By <a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r1.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r2.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r3.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r4.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r5.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="single-right-grids">
                <div class="col-md-4 single-right-grid-left">
                    <a href="single.html"><img src="assets/images/r6.jpg" alt=""></a>
                </div>
                <div class="col-md-8 single-right-grid-right">
                    <a href="single.html" class="title"> Nullam interdum metus</a>
                    <p class="author"><a href="#" class="author">John Maniya</a></p>
                    <p class="views">2,114,200 views</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="footer-grids">
        <div class="footer-top">
            <div class="footer-top-nav">
                <ul>
                    <li><a href="about.html">About</a></li>
                    <li><a href="press.html">Press</a></li>
                    <li><a href="copyright.html">Copyright</a></li>
                    <li><a href="creators.html">Creators</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="developers.html">Developers</a></li>
                </ul>
            </div>
            <div class="footer-bottom-nav">
                <ul>
                    <li><a href="terms.html">Terms</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                    <li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a></li>
                    <li><a href="privacy.html">Policy &amp; Safety </a></li>
                    <li><a href="try.html">Try something new!</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <ul>
                <li class="languages">
                    <select class="form-control bfh-countries" data-country="US">
                        <option value="">Select Language</option>
                        <option>Spanish</option>
                        <option>French</option>
                        <option>German</option>
                        <option>Italian</option>
                    </select>
                </li>
                <li class="languages">
                    <select class="form-control bfh-countries">
                        <option value="">Select Country</option>
                        <option value="AFG">Afghanistan</option>
                        <option value="ALA">Åland Islands</option>
                        <option value="ALB">Albania</option>
                        <option value="DZA">Algeria</option>
                    </select>
                </li>
                <li class="languages">
                    <select class="form-control bfh-countries" data-country="US">
                        <option value="">Safety Off</option>
                        <option value="">Safety On</option>
                    </select>
                </li>
                <li><a href="history.html" class="f-history">History</a></li>
                <li><a href="#small-dialog5" class="play-icon popup-with-zoom-anim f-history f-help">Help</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //footer -->
</div>


