<div class="col-sm-3 col-md-2 sidebar">
    <div class="top-navigation">
        <div class="t-menu">MENU</div>
        <div class="t-img">
            <img src="assets/images/lines.png" alt="">
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="drop-navigation drop-navigation">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="index.html" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li><a href="shows.html" class="user-icon"><span class="glyphicon glyphicon-home glyphicon-blackboard" aria-hidden="true"></span>TV Shows</a></li>
            <li><a href="history.html" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-hourglass" aria-hidden="true"></span>History</a></li>
            <li><a href="#" class="menu1"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>Movies<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
            <li><a href="movies.html" class="song-icon"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Songs</a></li>
            <li><a href="news.html" class="news-icon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>News</a></li>
        </ul>
        <div class="side-bottom">
            <div class="side-bottom-icons">
                <ul class="nav2">
                    <li><a href="#" class="facebook"> </a></li>
                    <li><a href="#" class="facebook twitter"> </a></li>
                    <li><a href="#" class="facebook chrome"> </a></li>
                    <li><a href="#" class="facebook dribbble"> </a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>Copyright © 2015 My Play. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="main-grids">
        <div class="top-grids">
            <div class="recommended-info">
                <h3>Recent Videos</h3>
            </div>
            <div class="col-md-4 resent-grid recommended-grid slider-top-grids" *ngFor="let video of videos">
                 <div class="resent-grid-img recommended-grid-img">
                    <video controls (play)="clicked($event)"> 
                           <source src="http://localhost:3000/{{video.url}}" type="video/mp4">
                    </video>
                     <star-rating-comp [starType]="'svg'" [rating]="video.overAllRating" (onClick)="rateVideo($event, video.name)">
                       </star-rating-comp>
                    <div class="time">
                        <p>3:04</p>
                    </div>
                    <div class="clck">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h4><span (click)="headerClick($event,video.name)">{{video.name}}</span></h4>
                    <ul>
                       
                    </ul>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="footer-grids">
            <div class="footer-top">
                <div class="footer-top-nav">
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="press.html">Press</a></li>
                        <li><a href="copyright.html">Copyright</a></li>
                        <li><a href="creators.html">Creators</a></li>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="developers.html">Developers</a></li>
                    </ul>
                </div>
                <div class="footer-bottom-nav">
                    <ul>
                        <li><a href="terms.html">Terms</a></li>
                        <li><a href="privacy.html">Privacy</a></li>
                        <li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a></li>
                        <li><a href="privacy.html">Policy &amp; Safety </a></li>
                        <li><a href="try.html">Try something new!</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <ul>
                    <li class="languages">
                        <select class="form-control bfh-countries" data-country="US">
                            <option value="">Select Language</option>
                            <option>Spanish</option>
                            <option>French</option>
                            <option>German</option>
                            <option>Italian</option>
                        </select>
                    </li>
                    <li class="languages">
                        <select class="form-control bfh-countries">
                            <option value="">Select Country</option>
                            <option value="AFG">Afghanistan</option>
                            <option value="ALA">Åland Islands</option>
                            <option value="ALB">Albania</option>
                            <option value="DZA">Algeria</option>
                        </select>
                    </li>
                    <li class="languages">
                        <select class="form-control bfh-countries" data-country="US">
                            <option value="">Safety Off</option>
                            <option value="">Safety On</option>
                        </select>
                    </li>
                    <li><a href="history.html" class="f-history">History</a></li>
                    <li><a href="#small-dialog5" class="play-icon popup-with-zoom-anim f-history f-help">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //footer -->
</div>

