<div class="developers">
    <div class="developers-banner try-banner">
        <!-- container -->
        <div class="container">
            <div class="developers-info">
                <h3>XO Video Portal backend by Hassan Magdy Saad ;)</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit vulputate eleifend. Cras dignissim et massa eu varius. Etiam iaculis tellus id nunc gravida, id fermentum libero porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras commodo commodo luctus.</p>
            </div>
        </div>
        <!-- //container -->
    </div>
    <div class="creators-grids try-grids">
        <!-- container -->
        <div class="container">
            <div class="try-bottom">
                <div class="col-md-4 try-left">
                    <div class="try-left-info">
                        <h3>For help</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis mattis enim, eu euismod est fringilla id. Phasellus eu justo quis justo laoreet tincidunt vitae quis nulla. Aenean non gravida lectus, quis congue tellus. Nulla gravida, mauris at varius posuere, elit urna aliquet ligula, sit amet maximus nisl lectus nec mi.</p>
                    </div>
                </div>
                <div class="col-md-8 try-right">
                    <div class="try-right-info">
                        <div class="col-md-6 try-right-left">
                            <h3>For test</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis mattis enim, eu euismod est fringilla id. Phasellus eu justo quis justo laoreet tincidunt vitae quis nulla. Aenean non gravida lectus, quis congue tellus. Nulla gravida, mauris at varius posuere, elit urna aliquet ligula, sit amet maximus nisl lectus nec mi.</p>
                        </div>
                        <div class="col-md-6 try-right-left">
                            <img src="assets/images/try.jpg" alt="" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //container -->
    </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top-nav">
                <ul>
                    <li><a href="assets/about.html">About</a></li>
                    <li><a href="assets/press.html">Press</a></li>
                    <li><a href="assets/copyright.html">Copyright</a></li>
                    <li><a href="assets/creators.html">Creators</a></li>
                    <li><a href="assets/#">Advertise</a></li>
                    <li><a href="assets/developers.html">Developers</a></li>
                </ul>
            </div>
            <div class="footer-bottom-nav">
                <ul>
                    <li><a href="assets/terms.html">Terms</a></li>
                    <li><a href="assets/privacy.html">Privacy</a></li>
                    <li><a href="assets/#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a></li>
                    <li><a href="assets/privacy.html">Policy & Safety </a></li>
                    <li><a href="assets/try.html">Try something new!</a></li>
                    <li><p>Copyright © 2015 My Play. All Rights Reserved | Design by <a href="assets/http://w3layouts.com/">W3layouts</a></p></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <ul>
                <li class="languages">
                    <select class="form-control bfh-countries" data-country="US">
                        <option value="">Select Language</option>
                        <option>Spanish</option>
                        <option>French</option>
                        <option>German</option>
                    </select>
                </li>
                <li class="languages">
                    <select class="form-control bfh-countries">
                        <option value="">Select Country</option>
                        <option value="AFG">Afghanistan</option>

                    </select>
                </li>
                <li class="languages">
                    <select class="form-control bfh-countries" data-country="US">
                        <option value="">Safety Off</option>
                        <option value="">Safety On</option>
                    </select>
                </li>
                <li><a href="assets/history.html" class="f-history">History</a></li>
                <li><a href="assets/#small-dialog5" class="play-icon popup-with-zoom-anim f-history f-help">Help</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- //footer -->
<div class="clearfix"> </div>
<div class="drop-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="assets/#">Regular link</a></li>
        <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="assets/#">Disabled link</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="assets/#">Another link</a></li>
    </ul>
</div>
