<!DOCTYPE HTML>
<html>
    <head>
        <title>{{title}}</title>        
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><h1><img src="assets/images/logo.png" alt="" /></h1></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse"> 
                    <div class="top-search">
                        <form class="navbar-form navbar-right">
                            <input type="text" class="form-control" placeholder="Search...">
                            <input type="submit" value=" ">
                        </form>
                    </div>
                    <div class="header-top-right">
                        <div class="signin">
                            <a href="javascript:void(0)" (click)="home()">Home</a>
                            <a href="javascript:void(0)" (click)="videos()">Videos</a>
                            <span *ngIf="!user">
                                <a href="javascript:void(0)" (click)="login()">Login</a>
                            </span>
                            <span class="user" *ngIf="user">
                                <a ref="javascript:void(0)"  (click)="logout()">Logout</a>
                            </span>

                        </div>
                        <div class="signin" style="display: none">
                            <div id="small-dialog" class="mfp-hide">
                                <h3>Login</h3>
                                <div class="signup">
                                    <form>
                                        <input type="text" class="email" placeholder="Enter email / mobile" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?"/>
                                        <input type="password" placeholder="Password" required="required" pattern=".{6,}" title="Minimum 6 characters required" autocomplete="off" />
                                        <input type="submit"  value="LOGIN"/>
                                    </form>
                                    <div class="forgot">
                                        <a href="assets/#">Forgot password ?</a>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </nav>
    <router-outlet></router-outlet>
</body>
</html>